<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>

    {% block title %}<title>Login Screen</title>{% endblock %}
</head>
<body>
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Login now</h1>
                <p class="py-6">
                    Welcome! Please log in to continue.
                </p>
            </div>
            <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <form class="card-body" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Username</span>
                        </label>
                        <input type="text" name="username" placeholder="username" class="input input-bordered" required/>
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" name="password" placeholder="password" class="input input-bordered" required/>
                    </div>
                    <div class="form-control items-center justify-center text-center my-2 mb-0">
                        <label class="label mb-0">
                            <span class="label-text">Don't have an account?
                                <a href="{% url 'signup' %}" class="label-text-alt link link-hover font-green">Sign Up</a>
                            </span>
                        </label>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                {% if messages %}
                    <div class="alert alert-error mt-4">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
